{% extends "layout.html" %}
{% block content %}

{% for error in form.text.errors %}
<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only"></span>
	{{ error }}
</div>
{% endfor %}

<div class="col-sm-6">
	<form class="form-group" action="" method="post" name="login">
		{{ form.hidden_tag() }}
		<label class="control-label">Text</label>
		<p>{{ form.text(class_="form-control") }}</p>
		<p><input class="btn btn-default" type="submit" value="Post"></p>
	</form>
</div>

{% endblock %}