{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="row" style="margin-bottom: 20px;">
	<div class="col-sm-2">
		<a class="btn btn-default" href="{{ url_for('posts.add_post_get') }}">Add Post</a>
	</div>
</div>
{% endif %}
<div class="row">
	{% for post in posts %}
	<div class="col-lg-4 col-md-6 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h5 class="panel-tile pull-left"><strong><a href="{{ url_for('users.user', nickname=post.author.nickname) }}">{{ post.author.nickname }}</a></strong>
				<small> {{ post.timestamp.strftime('%d/%m/%y %H:%M') }}</small></h5>
				<div class="pull-right">
					<a class="btn btn-default" title="View" href="{{ url_for('posts.post', post_id=post.id) }}">
						<span class="glyphicon glyphicon-eye-open"></span>
					</a>
					<a class="btn btn-default" title="Comment" href="{{ url_for('posts.comment', post_id=post.id) }}">
						<span class="glyphicon glyphicon-comment"></span>
					</a>
					{% if post.author.id == current_user.id %}
					<a class="btn btn-default" title="Remove" href="{{ url_for('posts.remove', user_page=user_page, post_id=post.id) }}">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
					{% endif %}
				</div>
			</div>
			<div class="panel-body">
				<p>{{ post.text }}</p>
				
			</div>
		</div>
	</div>
{% else %}
<div class="col-lg-4 col-md-6 col-sm-6">
	No posts yet!
</div>
{% endfor %}
</div>

{% endblock %}