{% extends "layout.html" %}
{% block content %}

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>{{ post.author.nickname }}</strong>
				<small> {{ post.timestamp.strftime('%d/%m/%y %H:%M') }}</small>
			</div>
			<div class="panel-body">
				{{ post.text }}
			</div>
		</div>
	</div>
</div>

<div class="page-header">
<h4>Comments</h4></div>

{% if current_user.is_authenticated %}
<div class="row" style="margin-bottom: 20px;">
	<div class="col-sm-2">
		<a class="btn btn-default" href="{{ url_for('posts.comment', post_id=post.id) }}">Add Comment</a>
	</div>
</div>
{% endif %}
<div class="row">
	{% for comment in post.comments %}
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>{{ comment.author.nickname }}</strong>
			</div>
			<div class="panel-body">
				{{ comment.text }}
			</div>
		</div>
	</div>
{% else %}
<div class="col-lg-4 col-md-6 col-sm-6">
	No comments yet!
</div>
{% endfor %}
</div>

{% endblock %}