{% extends "layout.html" %}
{% block content %}

{% if get_flashed_messages(with_categories=true) %}
	{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-danger alert-dismissable animated fadeInDown">
    	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only"></span>
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ message }}
    </div>
	{% endfor %}
{% endif %}

{% for error in form.nickname.errors %}
<div class="alert alert-danger alert-dismissable animated fadeInDown">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only"></span>
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ error }}
</div>
{% endfor %}

{% for error in form.password.errors %}
<div class="alert alert-danger alert-dismissable animated fadeInDown">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	<span class="sr-only"></span>
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    {{ error }}
</div>
{% endfor %}


<div class="col-sm-4">
<form class="form-group" action="" method="post" name="login">
	{{ form.hidden_tag() }}
	<label class="control-label">Nickname</label>
	<p>{{ form.nickname(class_="form-control") }}</p>
	<label class="control-label">Password</label>
	<p>{{ form.password(class_="form-control") }}</p>
	<p><input class="btn btn-default" type="submit" value="{{ title }}"></p>
</form>
</div>

{% endblock %}
